<h4><%= @restaurant.name %></h4>
<h4><%= @restaurant.area %></h4>
----------------------------------
<%= form_for(@review) do |f| %>
  <div>
    <p>これまでのタグ一覧　クリックすると追加されます。</p>
      <% @categories.each do |category| %>
        <%= category.name %><br>
        <% tags = category.tags %>
          <% tags.each do |tag| %>
            <%= check_box "tag_children", "#{tag.name}", {}, true, false %><%= tag.name %>
          <!-- 第一引数：パラメータ、第二引数：表示名 -->
          <% end %>
          <br><br>
      <% end %>
  </div>
  <%= f.text_field :price, placeholder: :"客単価" %>
  <%= f.text_area :review, placeholder: :"自由記述" %>
  <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
  <%= f.hidden_field :user_id, :value => current_user.id  %>
  <%= f.submit "投稿する"  %>
<% end %>